<!DOCTYPE html>
<html>
<head>
	<title>The ultimate Finnair solution</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div class="container">
  <h1>Finnair - finding the trips</h1>
</div>
</html>